<app-juego></app-juego>
<div id="info">
    <p>Puntaje: {{puntaje}}</p>
</div>
<div id="tablero" class="container-fluid">
    <div class="button-up-down"><button class="simon button-1 deactive-yellow" id="1" (click) = "agregarBotonASecuenciaJugador(1)" disabled></button></div>
    <div class="button-left"><button class="simon button-2 deactive-red" id="2" (click) = "agregarBotonASecuenciaJugador(2)" disabled></button></div>
    <div class="button-right"><button class="simon button-3 deactive-blue" id="3" (click) = "agregarBotonASecuenciaJugador(3)" disabled></button></div>
    <div class="button-up-down"><button class="simon button-4 deactive-green" id="4" (click) = "agregarBotonASecuenciaJugador(4)" disabled></button></div>
</div>
