#interfaz{
    position: relative;
    width: 100vw;
    height: 79.1vh; 
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/tierra-horizonte-planeta.jpg?alt=media&token=dbf66cce-0c94-45f4-af82-286e6799d72d");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}