<div id="container" class="login-container container-fluid">
    <div id="juegos">
        <button id="ahorcado" class="juegos" (click) = 'goTo("juegos/ahorcado")'><img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/gibbet_3570557.png?alt=media&token=d647779d-4781-464e-a7ea-729d377ef471" class="icon"><p>Ahorcado</p></button>
        <button id="mayor-o-menor" class="juegos" (click) = 'goTo("juegos/mayor-o-menor")'><img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/poker-card_16830094.png?alt=media&token=a77f8811-f847-4a14-9ecd-50e7677df02f" class="icon"><p>Mayor o menor</p></button>
        <button id="preguntas" class="juegos" (click) = 'goTo("juegos/preguntas")'><img class="icon" src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/problem_5377707.png?alt=media&token=42d0dad7-74ea-444d-8eeb-8e3c7e7b15a1"><p>Preguntados</p></button>
        <button id="buscaminas" class="juegos" (click) = 'goTo("juegos/invasores")'><img class="icon" src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/invasores-espaciales.png?alt=media&token=6853ac7c-6d31-4aba-b134-0131b223e5b4"><p>Invasores</p></button>
    </div>
</div>
