p{
    color:white;
}

#juegos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.juegos{
    width: 400px;
    height: 400px;
}

#chat{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.chat{
    width: 1200px;
    height: 100px;
}