<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        @if(isLoggedOut()){ 
          <ul> 
            <li><button (click) = 'goTo("login")'>Login</button></li> 
            <li><button (click) = 'goTo("quien-soy")'>Quien soy?</button></li> 
          </ul> 
        } 
        @else{ 
          <ul id="loggedin"> 
            <li id="user"><p>Bienvenido {{auth.currentUser?.displayName}}</p></li>
            <li><button (click) = 'goTo("home")'>Home</button></li>
            <li><button (click) = 'goTo("encuesta")'>Encuesta</button></li>  
            <li><button (click) = 'goTo("rankings")'>Rankings</button></li>
            <li><button (click) = 'goTo("quien-soy")'>Quien soy?</button></li> 
            <li><button class="chat" (click) = 'goTo("chat")'>Chat</button></li> 
            <li><button (click) ='logout()'>Log out</button></li> 
          </ul> 
        }
      </div>
    </div>
  </div>
</nav>
<router-outlet />
