<div class="login-container container-fluid">
    <h2>Iniciar Sesión</h2>
    <form action="login.php" method="POST">
        <input type="text" name="email" placeholder="mail" required [(ngModel)]="userMail" #mail>
        <input type="password" name="password" placeholder="Contraseña" required [(ngModel)]="userPWD" #pass>
        <input type="submit" value="Iniciar Sesión" (click)="Login()">
        <div id="users">
            <button class="userbutton" (click)="CompletarInputs('carlos@mail.com','123456')">Usuario 1</button>
            <button class="userbutton" (click)="CompletarInputs('alberto@gmail.com','abcdefg')">Usuario 2</button>
            <button class="userbutton" (click)="CompletarInputs('luis@hotmail.com','123abc')">Usuario 3</button>
        </div>
    </form>
    <a href="#">¿Olvidaste tu contraseña?</a>
    <a href="/registro">¿No tenes usuario? Registrate</a>
</div>