<div id="user">
    <img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/quien-soy.jpg?alt=media&token=7c7be0a4-c909-4cd7-8755-a9bcbf68d4f1" id="user-image">
    <div id="info">
        <h1>Quien Soy?</h1>
        <p>Mi nombre es Gastón Gómez, tengo 26 años (Bueno todavía no pero en unos días así que lo pongo ahora para no olvidar cambiarlo despues) y soy de Banfield. En esta aplicación desarrolle un juego que cuando lo tenga te digo de que se trata.</p>
    </div>
</div>
