<div id="user">
    <img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/quien-soy.jpg?alt=media&token=7c7be0a4-c909-4cd7-8755-a9bcbf68d4f1" id="user-image">
    <div id="info">
        <h1>Quien Soy?</h1>
        <p>Mi nombre es Gastón Gómez, tengo 26 años, soy de Banfield (como el 70% del sur😁) y actualmente estudio la Tecnicatura en Programación en la UTN y trabajo como QA Automation. En esta web podran jugar al ahorcado, al juego de cartas "Mayor o Menor", a un juego de preguntas y respuestas y a una version del buscaminas. Todos los juegos fueron desarrollados por mi.</p>
    </div>
</div>
