/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/Dise%C3%B1o%20sin%20t%C3%ADtulo.png?alt=media&token=3ae5c455-f305-4d9c-a6fd-22fe339cfd54");
    min-height: 100vh;   
    background-size: cover;      /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;/* Evita que la imagen se repita */
    background-attachment: fixed;
}